.box {
    width: 50px;
    height: 50px;
    margin-left : 5px;
    margin-top : 5px;
    background-color: #cdcdcd;
}

#game{
    width: 165px;
    height: 30px;
    margin-left : 5px;
    margin-top : 5px;
}
#demo {
    color: azure;
}

body {
    min-width: 180px;
    min-height: 200px;
    background-color: #303030;
}