button {
    height: 100px;
    width: 100px;
    display: inline-block;
    text-align: center;
    padding: 3px;
}

body {
    min-width: 220px;
}

.setting {
    width: 50px;
}

#up{
    background-color: tomato;
}
#down{
    background-color: skyblue;
}
